h1#principal{
	color: #4d7740;
	font-family: "Verdana";
}
h2#articulos{
	color:silver;
	font-family: Georgia;
	background-color: #4d7740;
}
h2#principal{
	color: white;
	font-family: Georgia;

}
table#t01 {
  width: 100%;    
  background-color: #EABE3F;
  text-align: left;
}
a{
	color: white;
	text-decoration: none;
}
a#descargas{
	text-decoration: none;
	color: black;
}
p#articulos{
	text-align: justify;
	letter-spacing: 1px;
	font-family: verdana;
	background-color: #EABE3F
}
.negro{
	color: black;
}
ol#todo {
	list-style-type: circle;
}
li#todo{
	float: none;
}
table {
  border-collapse: collapse;
  width: 100%
}

table, th, td {
  border: 1px solid black;
}
.ncalendario{
	color: gray;
}
th{
	height: 50px;
	text-align: left;
	vertical-align: text-top;
}